[submodule "desktop/config/awesome/plugins/lain"]
	path = desktop/config/awesome/plugins/lain
	url = git@github.com:lcpz/lain.git
[submodule "desktop/config/awesome/plugins/freedesktop"]
	path = desktop/config/awesome/plugins/freedesktop
	url = git@github.com:lcpz/awesome-freedesktop.git
[submodule "desktop/config/awesome/plugins/awesome-switcher"]
	path = desktop/config/awesome/plugins/awesome-switcher
	url = git@github.com:zubrailx/awesome-switcher.git
