/* NOTE: not managed to make blur work, just opacity */

@import "colors.css";

* {
  font-family: "Noto Serif Regular";
  font-size: 13px;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @foreground-active;
}

window#waybar {
  background-color: @background;
  border-bottom: 0.5px solid @border;
  color: #ffffff;
}

label:focus {
  background-color: @foreground-active;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @foreground;
}

#workspaces button:hover {
  background: @background-active;
}

#workspaces button.focused {
  background-color: @background-active;
  box-shadow: inset 0 -3px @foreground-active;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

#clock,
#battery,
#language,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#load,
#disk,
#temperature,
#custom-power {
  padding: 0 6.5px;
}

#disk {
  padding-top: 4px;
}

#clock {
}

#taskbar button.active {
  background: @background-active;
}

#custom-power {
  font-size: 20px;
}
