/* NOTE: not managed to make blur work, just opacity */

* {
  font-family: "Noto Serif Regular";
  font-size: 13px;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

window#waybar {
  background: rgba(60, 59, 70, 0.8);
  border-top: 0.5px solid rgb(128, 128, 137);
  color: #ffffff;
}

label:focus {
  background-color: #000000;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

#clock,
#battery,
#language,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#load,
#disk,
#temperature,
#custom-power {
  padding: 0 6.5px;
}

#disk {
  padding-top: 4px;
}

#clock {
}

#taskbar button.active {
  background: rgba(255, 255, 255, 0.1);
}

#custom-power {
  font-size: 20px;
}
