[Unit]
Description=To bypass Deep Packet Inspection
DefaultDependencies=no
After=default.target

[Service]
ExecStart=/usr/local/bin/spoofdpi
Type=simple

[Install]
WantedBy=default.target
