[Unit]
Description=rclonemount
AssertPathIsDirectory=%h/shared/%i
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
        --config=%h/.config/rclone/rclone.conf \
        --vfs-cache-mode=full \
        %i: %h/clouds/%i
ExecStop=/bin/fusermount -u %h/clouds/%i
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
